<!-- <div class="grid">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
</div>

<div class="grid2">
  <div class="item-a">
    <div>11</div>
    <div>22</div>
  </div>
  <div class="item-b">2</div>
  <div>3</div>
  <div class="item-c">4</div>
  <div class="item-d">5</div>
</div>

<div class="grid3">
  <div class="item-a">
    <div>1</div>
    <div>2</div>
    <div>3</div>
  </div>
  <div class="item-a">
    <div>4</div>
    <div>5</div>
    <div>6</div>
  </div>
  <div class="item-a">
    <div>7</div>
    <div>8</div>
    <div>9</div>
  </div>
</div>

<div class="grid-container">
  <div class="cell cell-1">1.</div>
  <div class="cell cell-2">2.</div>
  <div class="cell cell-3">3.</div>
  <div class="cell cell-4">4.</div>
  <div class="cell cell-5">5.</div>
  <div class="cell cell-6">6.</div>
  <div class="cell cell-7">7.</div>
  <div class="cell cell-8">8.</div>
  <div class="cell cell-9">9.</div>
</div> -->

<div class="container">
  <header class="cell cell-1">Header</header>
  <aside class="cell cell-2">Left sidebar</aside>
  <main class="cell cell-3">Main content</main>
  <aside class="cell cell-4">Right sidebar</aside>
  <footer class="cell cell-5">
    <div class="cell cell-6">Footer 1</div>
    <div class="cell cell-7">Footer 2</div>
    <div class="cell cell-8">Footer 3</div>
    <div class="cell cell-9">Footer 4</div>
  </footer>
</div>
